.main-register {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-register {
    font-size: 32px;
}

.form-size {
    width: 60%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
}

.div-form {
    width: 100%;
    height: 8vh;
    margin-bottom: 4vh;
}

.label-form {
    width: max-content;
    height: max-content;
    font-size: 16px;
    display: flex;
    margin: 0 auto;
}

.h3-form {
    font-size: 16px;
    width: max-content;
    height: max-content;
    display: flex;
    margin: 0 auto;
}

.input-form {
    width: 40%;
    height: 50%;
    border: none;
    border-radius: 8px;
    background-color: #d0d0d0;
    color: #212121;
    font-size: 16px;
    display: flex;
    margin: 4px auto;
    padding-left: 8px;
}

.input-form::placeholder {
    color: #212121;
    font-size: 16px;
}

.button-form {
    width: 40%;
    height: 6vh;
    border: none;
    border-radius: 8px;
    background-color: #d0d0d0;
    color: #212121;
    font-size: 16px;
    display: flex;
    margin: 4px auto;
    align-items: center;
    justify-content: center;
}

.button-form:hover {
    cursor: pointer;
    background-color: #b0b0b0;
}